<div class="text-center">
  <h2>Add a new restaurant!</h2>
  <%= link_to("Go back to restaurants", restaurants_path, method: :get) %>
</div>

<div style="background-color: #e0e0e0">
  <%= render "form_restaurant" %>
</div>
