<h1 class="text-center"><%= @restaurant.name %></h1>

<h3 class="text-center">Reviews</h3>

<ul>
<hr>
<% @restaurant.reviews.each do |review| %>
  <li class="list-unstyled">
    <p> <%= review.rating %> </p>
    <p> <%= review.content %> </p>
  </li>
  <hr>
<% end %>
</ul>

